body {
    min-height: 75vh;
}

.bgcolor {

    background-image: linear-gradient(to bottom, #071630, black);
    height: 100%;
    width: 100%;

}

.white {
    color: white;
}

.alexsContainer {
    margin-top: 25vmin;
    margin-left: 3vmin auto;
    margin-right: 3vmin auto;
    background-color: slateblue;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 30px;
    height: auto;
    width: auto;
    box-shadow: white 0px 0px 20px 7px;
}

.alexsContainer h1 {
    text-align: center;
}

.centered {
    text-align: center;
    justify-content: center;
}

.col-md-12 .btn-warning {
    padding: 1rem;
    margin-top: 4rem;
    width: 100%;
    border-radius: 30px;
    font-size: 20px;
    margin-bottom: 4rem;
}

#time {
    font-size: 30px;
    font-weight: bold;
}

.col-md-12 .btn-success {
    padding: 1rem;
    width: 100%;
    border-radius: 30px;
    margin-bottom: 1rem;
}

.col-md-12 .top {
    margin-top: 2rem;
}

.hidden {
    display: none;
}

.userArea {
    color: magenta;
    font-size: 30px;
    font-weight: bold;
}

.scoreArea {
    color: lime;
    font-size: 30px;
    font-weight: bold;
}

.wrongScoreArea {
    color: red;
    font-size: 30px;
    font-weight: bold;
}